{% extends 'eve.twig' %}
{% import "macros.twig" as macros %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/public/css/payment/callback.css">
{% endblock %}

{% block body %}
        <div class="page">
            <img src="/public/img/logo.png" class="myfarm-image">
            <h1>{{ literal.myfarm_title }}</h1>
            <h3>{{ literal.title }}</h3>
            <h2>{{ data.message }}</h2>
            <a href="#">{{ literal.back_to_app }}</a>
        </div>
{% endblock %}